html
    box-sizing: border-box

*,
*::after,
*::before
    box-sizing: inherit



//Global elements
body
    font-family: $mainFont
a
    color: $lightBlue


//Global classes
.wrapper
    width: 1200px
    margin: 0 auto
.social-links
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	align-content: center
	&__unit
		margin-right: 30px
		cursor: pointer
		&:last-child
			margin-right: 0
		a
			color: black
	&--lightgray
		a
			color: $darkGray
.menu
    position: absolute
    right: -1000%
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    width: 90%
    transition: all .3s ease-in-out
    &__wrapper
        display: flex
        flex-direction: row
        align-self: center
        align-items: flex-start
        justify-content: space-around
        width: 100%
        margin: 5px 0 0 0;
        list-style: none
    &__unit
    &__link
        text-decoration: none
        text-transform: uppercase
        color: $darkGray
        transition: all .3s ease-in-out
        &:hover
            color: $lightBlue
    &--active
        right: 50px
.up-btn
    display: none
    position: fixed
    right: 30px
    bottom: 50px
    width: 50px
    height: 50px
    line-height: 50px
    text-align: center
    border-radius: 50%
    background-color: white
    box-shadow: 0 3px 4px $darkGray
    cursor: pointer

// grid layout
.grid
    display: grid
    grid-template-areas: 'header' 'hero' 'featured-music' 'timer' 'insta' 'footer'
.header
    grid-area: header
.hero
    grid-area: hero
.featured-music
    grid-area: featured-music
.timer
    grid-area: timer
.insta
    grid-area: insta
.footer
    grid-area: footer
